<footer class="bg-primary text-white fz-7">
    <div class="container">
        <div class="top d-md-flex align-items-center">
            <ul class="left list-unstyled d-md-flex justify-content-between me-auto d-none">
                <li>
                    <a href="index.html">首頁</a>
                </li>
                <li>
                    <a href="#">系列鏡框</a>
                </li>
                <li>
                    <a href="#">門市據點</a>
                </li>
                <li>
                    <a href="#">部落格</a>
                </li>
                <li>
                    <a href="question.html">常見問題</a>
                </li>
            </ul>
            <ul class="right list-unstyled d-flex float-end">
                <li>
                    <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="facebook"></a>
                </li>
                <li>
                    <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="instagram"></a>
                </li>
                <li>
                    <a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line"></a>
                </li>
            </ul>
        </div>
        <div class="sector">
            <div class="d-flex align-items-center mb-8">
                <span class="material-symbols-outlined fz-3">
                    call
                </span>
                <p class="fz-3">0800-000-000</p>
            </div>
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined fz-3">
                    mail
                </span>
                <p class="fz-3">glasses@business.com</p>
            </div>
        </div>
        <div class="bottom  border-top d-flex justify-content-between flex-md-row flex-column">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="serve fz-8 list-unstyled d-flex flex-md-row flex-column">
                <li>
                    <a href="#" >隱私權政策</a>
                </li>
                <li>
                    <a href="#">服務條款</a>
                </li>
            </ul>
        </div>
    </div>
</footer>